<%= form_for(notification, :html => { :class => "uniForm"} ) do |f| %>
  <% if notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag(:url, url) %>
  
  <fieldset class="inlineLabels">
    <div class="ctrlHolder">
      <%= f.label :city %>
      <%= f.text_field :city, :class => "textInput" %>
    </div>
    
    <div class="ctrlHolder">
      <%= f.label :email %>
      <%= f.text_field :email, :class => "textInput" %>
    </div>
    
    <div class="buttonHolder">
      <%= f.submit 'Keep me updated', :class => "primaryAction" %>
    </div>
  </fieldset>
<% end %>
<br>
