<div id="landing-footer">
	<div>
		<%= link_to 'About Us' , '' %> | 
		<%= link_to 'Sitemap' , '' %> | 
		<%= link_to 'Sign in' , '' %>
	</div>
	
	<div>
	<%= link_to 'Austin', 'Austin' %> | 
	<%= link_to 'Dallas', 'Dallas' %> | 
	<%= link_to 'Houston', 'Houston' %> | 
	<%= link_to 'New York', 'NewYork' %> | 
	<%= link_to 'Seattle', 'Seattle' %>
	</div>
</div> 