<div id="footer" class="small transparent rounded">
	<div>
	  Copyright &copy; <%= link_to "Whichado", root_path %> | 
		<%= link_to 'About Us' , '' %> | 
		<%= link_to 'Sitemap' , '' %> | 
		<%= link_to "Feedback", 'http://www.google.com/moderator/#16/e=49eb1' %> | 
		<%= link_to 'Sign in' , '' %>
	</div>
	
	<div>
	  <span>Cities:</span>
  	<%= link_to 'Austin', 'Austin' %> | 
  	<%= link_to 'Dallas', 'Dallas' %> | 
  	<%= link_to 'Houston', 'Houston' %> | 
  	<%= link_to 'Los Angeles', 'LosAngeles' %> | 
  	<%= link_to 'New York', 'NewYork' %> | 
  	<%= link_to 'San Francisco', 'SanFrancisco' %> | 
  	<%= link_to 'Seattle', 'Seattle' %>
	</div>
</div> 