<div id="footer" class="small transparent rounded">
	<div>
	  <%= link_to "Whichado", root_path %> &copy; 2011 | 
		<%= link_to 'About Us' , about_path %> | 
		<%= link_to 'Sitemap' , '' %> | 
		<%= link_to "Feedback", 'http://www.google.com/moderator/#16/e=49eb1' %> | 
		<%= link_to 'Sign in' , login_path %>
	</div>
	
	<div>
  	<%= link_to 'Austin', austin_path %> | 
  	<%= link_to 'Dallas', dallas_path %> | 
  	<%= link_to 'Houston', houston_path %> | 
  	<%= link_to 'Los Angeles', losangeles_path %> | 
  	<%= link_to 'New York', newyork_path %> | 
  	<%= link_to 'San Francisco', sanfrancisco_path %> | 
  	<%= link_to 'Seattle', seattle_path %> | 
  	<%= link_to 'Other Cities', yourcity_path %>
	</div>
</div> 