<!DOCTYPE html>
<html>
<head>
  <title>Whichado - <%= yield_for(:title, "No matter what you do, Whichado!") %></title>
  <%= stylesheet_link_tag :all %>
	<%= javascript_include_tag "jquery.min.js" %>
	<%= javascript_include_tag "application.js" %>	
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
  <%= render 'shared/analytics' %>
  <link href="http://fonts.googleapis.com/css?family=Lobster:regular" rel="stylesheet" type="text/css">  
</head>

<body>
	  <%= render 'shared/header' %>

    <div id="site">
      
      <% if flash[:notice] %>
        <script>
          $(function() {
             $('#flash').delay(500).fadeIn('normal', function() {
                $(this).delay(2500).fadeOut();
             });
          });
        </script>
        <div id="flash"><%= flash[:notice] %></div>
      <% end %>
      
			<div id="noscript">
				<noscript>Yeah, about that... I'm gonna need you to enable JavaScript. Thanks!</noscript>
			</div> <!-- noscript -->

      <div id="content" class="rounded shadow">
        <%= yield %>
      </div> <!-- content -->
      
      <%= render 'shared/footer' %>
  	</div> <!-- site -->

</body>
</html>
