<!DOCTYPE html> 
<html> 
<head> 
    <title>Whichado - <%= @city %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag "jquery.min.js" %>
    <%= javascript_include_tag "application.js" %>  
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <%= render 'shared/analytics' %>
    <link href="http://fonts.googleapis.com/css?family=Lobster:regular" rel="stylesheet" type="text/css">  
</head> 
<body>
    <div id="page-wrap"> 
        <div id="landing-content" class="transparent shadow rounded">
            <div style="font-size: 2em;">
              <span class="logo_font">Whichado</span> - <%= @city %>
            </div>
            <br />
            
            <%= yield %>
            
            <% if flash[:notice] %>
              <script>
                $(function() {
                   $('#flash').delay(500).fadeIn('normal', function() {
                      $(this).delay(2500).fadeOut();
                   });
                });
              </script>
              <div id="flash"><%= flash[:notice] %></div>
            <% end %>
		
		        <%= render 'shared/footer' %>
        </div>
    </div> 
    <!-- main bg image --> 
    <div id="bg"> 
        <img src="images/bg_<%= @cityOriginal.downcase %>.jpg" alt="" /> 
    </div> 
</body> 
</html>